<!-- Routing -->
@page "/"

<!-- Sidans namn -->
<PageTitle>Start</PageTitle>

<!-- Innehåll -->
<section>
	<h1>Välkommen!</h1>
	<p>Detta är min första Blazor-webbplats. Nedan finns ett bildspel med skapade webbplatser, 
		ett utdrag ur min portfolio. Bildspelet är den fristående komponenten som ingick i uppgiften.
		På sidan <b>Konvertering</b> finns formulär för konvertering i enlighet med uppgiftsbeskrivningen.
		På <b>JSON</b> görs anropet med HttpClient.</p>
</section>

<!-- Bildspel -->
<section>
	<h2>Bildspel</h2>
	<p>Använd knapparna för att byta bild. Det finns sex stycken bilder.
		Klicka på bilden för att komma till webbplatsen.
	</p>
	<Slideshow />
</section>
