@inherits LayoutComponentBase

<!-- Layout -->
<div id="page-wrapper">
    <!-- Sidhuvud -->
    <header>
        <div id="header-wrapper">
            <NavMenu />
        </div>
    </header>

    <!-- Här rendreras undersidorna -->
    <main>    
        @Body
    </main>

    <!-- Sidfot -->
    <footer>
        <div id="footer-wrapper">
            <p>Av: Marco Zintl</p>
            <p>Kontakta mig på <a href="mailto:mazi2001@student.miun.se">mazi2001@student.miun.se</a></p>
        </div>
    </footer>
</div>
